@import "tailwindcss";

:root {
    --background: #F5F5F5;
    --foreground: #3D3D3D;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-cairo);
    --color-gg-yellow: #F5E400;
    --color-gg-pink: #E853A3;
    --color-gg-red: #E24075;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #3D3D3D;
        --foreground: #F5F5F5;
    }
}

@media not (prefers-color-scheme: dark) {
    :root {
        --background: #F5F5F5;
        --foreground: #3D3D3D;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
